body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f8f4;
    color: #333;
}

header{
    background-color: #2e8b57;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #256b46;
    padding: 10px;
    text-align: center;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}